{% extends 'base.html'%}
    {% block content%}



<div class="w-50 py-5 px-5 create-task">

<h1>Create new task:</h1>




  <form method="post">
    {% csrf_token %}

    <div class="row d-flex align-items-center">
      <div class="col-2 ">
    <label for="title"><h3 class="color-text">Title:</h3></label>
      </div>
      <div class="col-10 d-flex align-items-center">

    <input type="text" id="title" name="title" class="form-control" placeholder="Title"><br>
  </div>
</div>
<br>

    <div class="row d-flex align-items-center">
      <div class="col-2">
    <label for="desc"><h3 class="color-text">Task:</h3></label>
  </div>
  <div class="col-10 d-flex align-items-center">
    <textarea id="desc" name="desc" class="form-control" placeholder="Your task"></textarea><br>
  </div>
  </div>
   
   <br>

  <div class="row d-flex align-items-center">
    <div class="col-2">
    <label for="due"><h3 class="color-text">Date:</h3></label>
  </div>
<div class="col-10 d-flex align-items-center">
    <input type="datetime-local" id="due" name="due" class="form-control" value="">
  </div>
</div>


  <br>
    <input type="submit" value="Save Task" class="btn send-task-button">
  </form> 


</div>




<div class="py-5 my-5 task-board">



    {% for task in tasks %}


      <div class="task-div py-1 my-2 w-75">
        <div class="row">
          <div class="col-11">
        <div class="row">
          <div class="col-6"><h5 class="color-text mx-5 text-start">{{task.title}}</h5></div>
  
          <div class="col-6">
          <p class="description-text text-end"> Time expire: {{ task.duration|timesince }}</p>

        </div>
        </div>




        <div class="row">
          <div class="col-7">
    
    <p class="description-text mx-5 text-start">{{task.desc}}</p>
  </div>
    <!-- <p>{{task.created}}</p>
    <p>{{task.due}}</p> -->
    <div class="col-3">
    
    <p>{{task.completed}}</p>
    
    <form method="POST" action="{% url 'update-complete' task.id %}">
      {% csrf_token %}
      <input type="submit" value="Toggle Complete">
    </form>

 
  <a href="/task/{{task.id}}">Go to task >>> </a>
</div>

</div>
</div>
<div class="col-1 d-flex align-items-center delete-button"><a class="btn btn-danger" href="{% url 'delete_task' task.id %}"><i class="fa-solid fa-trash"></i></a> </div>
  </div>
</div>



    {% endfor%}




</div>
</div>
</center>
    {% endblock content %}