{% extends 'base.html'%}
    {% block content%}


    <div class="container-fluid px-5">

<div class="w-50">

<h1>Create new task:</h1>




  <form method="post">
    {% csrf_token %}
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" class="form-control" placeholder="Title"><br>
    <label for="desc">Description:</label><br>
    <textarea id="desc" name="desc" class="form-control" placeholder="Your task"></textarea><br>
    <label for="due">Due Date:</label><br>
    <input type="datetime-local" id="due" name="due" class="form-control" value="{{current_time}}"><br>
    <input type="submit" value="Save" class="btn btn-primary">
  </form> 


</div>


<div>

    {% for task in tasks %}
    <h3>{{task.title}}</h3>
    <p>{{task.desc}}</p>
    <p>{{task.created}}</p>
    <p>{{task.due}}</p>
    <!-- <p> {{ task.duration }} / dude</p> -->
    <p>{{task.completed}}</p>
    <a href="/task/{{task.id}}">Go to task </a>


    {% endfor%}
</div>

</div>
    {% endblock content %}